.item {
    display: flex;
  
    align-items: center;
    border: 1px solid #c5cad1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 15px;
    min-height: 70px;
    justify-content: center;
}
  
.userIcon {
    display: flex;
    padding-right: 20px;
    color: #4b4b4b;
    align-items: center;
}
  
.userIcon svg {
    width: 40px;
    height: 40px;
}
  
.contact {
    display: flex;
    flex-direction: column;
}
  
.contact p {
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.numberText {
    color: #a1a8b4;
}
  
.contact p > svg {
    color: #4d4d4d;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: color 0.2s ease;
    padding: 4px 4px;
    background-color: #ffffff;
    outline: none;
}
  
.button svg {
    width: 30px;
    height: 30px;
    color: #ea3535;
}
  
.button svg:hover {
    color: #ff3131;
}
  
.button:focus-within > svg {
    color: #ff3131;
}
  
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}