.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}
  
.form input {
    width: 100%;
    outline: none;
    margin: 0 auto;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 12px;
    background-color: #ffffff;
    transition: border 0.2s ease;
    caret-color: #a1a8b4;
    border: 1px solid #c5cad1;
    box-shadow: rgba(58, 61, 64, 0.06) 0px 10px 20px 10px;
}
  
.form input::placeholder {
    font-size: 14px;
    color: #a1a8b4;
}
  
.form label {
    display: block;
    text-align: start;
    padding-left: 35px;
    align-items: center;
}
  
.form button {
    color: #ffffff;
    background-color: #0dae1d;
    border-radius: 25px;
    width: 40%;
    margin: 10px auto 0;
    transition: color 0.2s ease;
    padding: 10px 15px;
    outline: none;
}
  
.form button:hover,
.form button:focus {
    background-color: #0dae1d;
}
  
.nameWrap {
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.faUser,
.faPhone {
    display: flex;
    position: absolute;
    top: 39px;
    left: 15px;
    color: #525252;
    align-items: center;
}
  
.numberWrap {
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.nameError,
.numberError {
    top: 0;
    left: 84px;
    font-size: 16px;
    position: absolute;
    color: #ea3535;
}
  
.numberError {
    left: 100px;
}
  
.successMessage {
    top: -100px;
    left: 210px;
    width: 100%;
    font-size: 16px;
    margin-top: 12px;
    position: absolute;
    color: #0dae1d;
    transform: translate(-50%, -50%);
}