.authNav {
    display: flex;
    justify-content: center;
  
    li {
      padding: 10px;
    }
}

.link {
    transition: all 0.2s ease;
    &:hover {
      color: #2d36d7;
    }
}
  
.active {
    color: #2d36d7;
}