.userMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      padding: 10px;
    }
}
  
.backgroundUser {
    color: #111111;
}
  
.userMenu button {
    border: none;
    color: #c5cad1;
    background: transparent;
    padding: 0;
    transition: color 0.2s ease;
  
    &:hover {
      border: none;
      color: #ea3535;
    }
}