.userMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      padding: 10px;
    }
}
  
.backgroundUser {
    background: linear-gradient(
      210deg,
      #508afb 10%,
      #6167ff 30%,
      #8a61ff 60%,
      #8f00ff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
  
.userMenu button {
    border: none;
    color: #c5cad1;
    background: transparent;
    padding: 0;
    transition: color 0.2s ease;
  
    &:hover {
      border: none;
      color: #ea3535;
    }
}